<div class="min-h-screen flex flex-col relative">
    <!-- Background Image Container - Half Screen Height -->
    <div class="background-image h-1/2 w-full absolute top-0 left-0 z-10">
        <img src="/assets/images/waterback.jpg" alt="Background Image"
            class="h-full w-full object-cover rounded-2xl p-2">
    </div>

    <!-- Main Content Container -->
    <div class="flex flex-col items-center justify-center flex-grow w-full px-4 relative z-30">
        <!-- Title Container - Moved Up -->
        <h1
            class="font-roboto text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-black text-white mb-12 sm:mb-16 glow-effect mt-10 sm:mt-0">
            Water Management
        </h1>

        <!-- Form Container -->
        <div
            class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl bg-white p-4 sm:p-6 md:p-8 rounded-xl shadow-lg mt-6">
            <div class="title-text flex w-full justify-center mb-4 sm:mb-6">
                <div class="title text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-center text-gray-400">
                    {{ title }}
                </div>
            </div>
            <div class="form-container">
                <div class="slide-controls flex justify-between mb-4 sm:mb-6 relative">
                    <button id="loginBtn"
                        class="w-1/2 py-2 rounded-l-lg sm:rounded-l-xl text-sm md:text-base lg:text-lg relative z-20 hover:shadow-lg text-white">Login</button>
                    <button id="signupBtn"
                        class="w-1/2 text-sm md:text-base lg:text-lg text-gray-400 py-2 rounded-r-lg sm:rounded-r-xl relative z-20 hover:shadow-lg">Signup</button>
                    <div id="sliderTab"
                        class="slider-tab absolute h-full w-1/2 left-0 bg-gradient-to-r from-CustomBlue1 via-CustomBlue2 to-CustomBlue3 rounded-lg sm:rounded-xl transition-all duration-500 ease-out">
                    </div>
                </div>
                <div class="form-inner">
                    <form id="loginForm" (ngSubmit)="onSubmit()">
                        <div class="field relative mb-3 sm:mb-4">
                            <fa-icon [icon]="faEnvelope"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input id="emailInput" type="text" placeholder="Email Address"
                                class="w-full px-8 sm:px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative mb-4 sm:mb-6">
                            <fa-icon [icon]="faLock"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input id="passwordInput" [type]="passwordVisible ? 'text' : 'password'"
                                placeholder="Password"
                                class="w-full px-8 sm:px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                            <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer"
                                (click)="togglePasswordVisibility()"></fa-icon>
                        </div>
                        <div class="flex justify-between items-center mb-4 sm:mb-6">
                            <div class="remember-me flex items-center">
                                <input id="rememberMeCheckbox" type="checkbox"
                                    class="form-checkbox h-4 w-4 border-gray-200 text-blue-600">
                                <label for="rememberMeCheckbox"
                                    class="ml-2 text-xs sm:text-sm text-gray-600 cursor-pointer">Remember me</label>
                            </div>
                            <div class="pass-link">
                                <a href="#" class="text-xs sm:text-sm text-CustomBlue1 hover:underline">Forgot
                                    password?</a>
                            </div>
                        </div>
                        <div class="field">
                            <button id="loginSubmit" type="submit"
                                class="w-full py-2 bg-gradient-to-r from-CustomBlue1 via-CustomBlue2 to-CustomBlue3 text-white rounded-lg transition-all duration-300 hover:shadow-lg">Login</button>
                        </div>
                    </form>
                    <div *ngIf="errorMessage" class="text-red-500 text-center mt-4">{{ errorMessage }}</div>
                    <form id="signupForm" class="space-y-3 sm:space-y-4 hidden">
                        <div class="field relative">
                            <fa-icon [icon]="faUser"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input type="text" placeholder="Name"
                                class="w-full px-8 sm:px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative">
                            <fa-icon [icon]="faEnvelope"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input type="text" placeholder="Email Address"
                                class="w-full px-8 sm:px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative">
                            <fa-icon [icon]="faLock"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Password"
                                class="w-full px-8 sm:px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                            <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer"
                                (click)="togglePasswordVisibility()"></fa-icon>
                        </div>
                        <div class="field">
                            <button type="submit"
                                class="w-full py-2 bg-gradient-to-r from-CustomBlue1 via-CustomBlue2 to-CustomBlue3 text-white rounded-lg transition-all duration-300 hover:shadow-lg">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Test Accounts Dialog Box -->
        <div
            class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl bg-white p-4 sm:p-6 md:p-8 rounded-xl shadow-lg mt-6">
            <p class="font-bold text-center mb-2 text-gray-400">Test Accounts:</p>
            <div class="text-center">
                <p class="text-gray-400"><span class="font-semibold">Admin:</span> Admin&#64;test.com / 1234admin</p>
                <p class="text-gray-400"><span class="font-semibold">User:</span> User&#64;test.com / 1234user</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w-full bg-white p-4 sm:p-6 border-t border-gray-200">
        <div class="flex justify-center flex-wrap space-x-4 text-sm sm:text-base text-gray-600">
            <a href="#" class="hover:text-CustomBlue1 hover:underline">About us</a>
            <a href="#" class="hover:text-CustomBlue1 hover:underline">Docs</a>
            <a href="#" class="hover:text-CustomBlue1 hover:underline">Author</a>
            <a href="#" class="hover:text-CustomBlue1 hover:underline">Contact Us</a>
            <a href="#" class="hover:text-CustomBlue1 hover:underline">Privacy</a>
            <a href="#" class="hover:text-CustomBlue1 hover:underline">License</a>
        </div>
        <div class="flex justify-center space-x-4 mt-4 text-gray-600 text-xl">
            <a href="#" class="hover:text-CustomBlue1">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="#" class="hover:text-CustomBlue1">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="#" class="hover:text-CustomBlue1">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="#" class="hover:text-CustomBlue1">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="#" class="hover:text-CustomBlue1">
                <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
        </div>
    </footer>
</div>