<div class="min-h-screen flex items-center justify-center bg-gradient-to-l from-blue-900 via-blue-700 to-blue-500">
    <div class="max-w-md w-full">
        <div class="wrapper bg-white p-8 rounded-xl shadow-lg">
            <div class="title-text flex w-full justify-center mb-6">
                <div class="title text-2xl font-semibold text-center">{{ title }}</div>
            </div>
            <div class="form-container">
                <div class="slide-controls relative flex justify-between mb-6">
                    <button id="loginBtn"
                        class="slide login w-1/2 text-white py-2 rounded-l-xl relative z-20 hover:shadow-lg">Login</button>
                    <button id="signupBtn"
                        class="slide signup w-1/2 text-black py-2 rounded-r-xl relative z-20 hover:shadow-lg">Signup</button>
                    <div id="sliderTab"
                        class="slider-tab absolute h-full w-1/2 left-0 bg-blue-600 rounded-xl transition-all duration-500 ease-out">
                    </div>
                </div>
                <div class="form-inner">
                    <form id="loginForm" (ngSubmit)="onSubmit()">
                        <div class="field relative mb-4">
                            <fa-icon [icon]="faEnvelope"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input id="emailInput" type="text" placeholder="Email Address"
                                class="w-full px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative">
                            <fa-icon [icon]="faLock"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input id="passwordInput" [type]="passwordVisible ? 'text' : 'password'"
                                placeholder="Password"
                                class="w-full px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                            <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer"
                                (click)="togglePasswordVisibility()"></fa-icon>
                        </div>
                        <div class="flex justify-between items-center mb-4">
                            <div class="remember-me flex items-center">
                                <input id="rememberMeCheckbox" type="checkbox"
                                    class="ml-1 form-checkbox h-3 w-3 border border-gray-200 text-blue-600">
                                <label for="rememberMeCheckbox"
                                    class="ml-2 text-xs text-gray-600 cursor-pointer">Remember me</label>
                            </div>
                            <div class="pass-link">
                                <a href="#" class="text-xs text-blue-600 hover:underline">Forgot password?</a>
                            </div>
                        </div>
                        <div class="field">
                            <button id="loginSubmit" type="submit"
                                class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">Login
                            </button>
                        </div>
                    </form>
                    <div *ngIf="errorMessage" class="text-red-500 text-center mt-4">{{ errorMessage }}</div>

                    <form id="signupForm" class="space-y-4 hidden">
                        <div class="field relative">
                            <fa-icon [icon]="faUser"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input type="text" placeholder="Name"
                                class="w-full px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative">
                            <fa-icon [icon]="faEnvelope"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input type="text" placeholder="Email Address"
                                class="w-full px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                        </div>
                        <div class="field relative">
                            <fa-icon [icon]="faLock"
                                class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-400"></fa-icon>
                            <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Password"
                                class="w-full px-10 py-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-1 focus:ring-blue-500 outline-none">
                            <fa-icon [icon]="passwordVisible ? faEyeSlash : faEye"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 cursor-pointer"
                                (click)="togglePasswordVisibility()"></fa-icon>
                        </div>
                        <div class="field">
                            <button type="submit"
                                class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Test accounts dialog box -->
        <div class="wrapper bg-white p-8 rounded-xl shadow-lg mt-4">
            <p class="font-bold text-center mb-2">Test Accounts:</p>
            <div class="text-center">
                <p><span class="font-semibold">Admin:</span> Admin&#64;test.com / 1234admin</p>
                <p><span class="font-semibold">User:</span> User&#64;test.com / 1234user</p>
            </div>
        </div>
    </div>
</div>